/*
!wp-content/
!.gitignore
!.editorconfig
!.lando.yml
!install-plugins.sh
!plugins.txt
!README.md
!deploy/

wp-content/*
!wp-content/plugins/
!wp-content/themes/

wp-content/plugins/*

wp-content/themes/*
!wp-content/themes/praktik/

!ROADMAP.md

.idea/
.DS_Store
wp-content/themes/blocksy-child/*-backup*.pot*
