@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './base.css';
@import './layout.css';
@import './navigation.css';
@import './filters.css';
@import './property.css';
@import './buttons.css';
@import './footer.css';
@import './admin.css';



.review-content p {
  @apply md:mb-4;
  font-size: 12px;
  line-height: 16px;
}

.review-title {
  font-size: 14px;
  line-height: 18px;
}

.review-date {
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .review-title {
    font-size: 16px;
    line-height: 21px;
  }

  .review-content p {
    font-size: 14px;
    line-height: 18px;
  }
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.pagination .page-numbers {
  @apply btn px-[10px];
  height: 40px;
  width: 40px;
}

.icon {
  display: var(--icon-display, block);
  width: var(--icon-width, 1.5rem);
  height: var(--icon-height, 1.5rem);
  max-width: var(--icon-max-width, 100%);
  margin: var(--icon-margin, 0);
  font-size: var(--icon-font-size, 1.5rem);
  color: var(--icon-color, inherit);
  fill: currentColor;
  flex-shrink: 0;
  pointer-events: none;
}

@media (min-width: 768px) {
  .archive-container {
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .archive-container {
    margin-bottom: 80px;
  }
}

.author-content {
  @apply bg-neutral-700 text-white px-8 py-10;
  width: 400px;
}


.author-content > div {
  margin-bottom: 50px;
}
.author-content > div:last-of-type {
  margin-bottom: 0;
}

.author-data {
  @apply flex flex-col items-center;
}

.author-socials {
  @apply flex flex-col items-center ;
  --icon-width: 40px;
  --icon-height: 40px;
}

.author-socials a {
  @apply mb-[14px];
}


.author-socials a:last-of-type {
  @apply mb-0;
}

.check-list li {
  position: relative;
  padding-left: 2.25rem;
  margin: 0 0 1rem;
  line-height: 1.2;
}

.check-list li:last-of-type {

  margin: 0;
}

.check-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0%200%2024%2024' fill='none'%3E%3Cpath d='M22.9961%205.78906L9.13477%2019.6504L8.25%2020.4961L7.36523%2019.6504L1.00391%2013.2891L2.78906%2011.5039L8.25%2016.9648L21.2109%204.00391L22.9961%205.78906Z' fill='%23ECB648'/%3E%3C/svg%3E");
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

ul.standard-list {
  list-style: disc;
  padding-left: 24px;
}

body.admin-bar header.banner {
  @apply md:top-8;
}

.filter-buttons {
  --icon-width: 20px;
  --icon-height: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: #3C589E;
}

.range-slider {
  @apply h-[64px];
}

.range-slider input[type="range"] {
  -webkit-appearance: none;
  background: var(--slider-color, #3C589E);
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  @apply h-5 w-5 rounded-full relative z-[2] pointer-events-auto;
  -webkit-appearance: none;
  background: var(--slider-color, #3C589E);
}