@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './base.css';
@import './layout.css';
@import './navigation.css';
@import './filters.css';
@import './property.css';
@import './buttons.css';
@import './footer.css';
@import './admin.css';
