@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './base.css';
@import './layout.css';
@import './navigation.css';
@import './filters.css';
@import './property.css';
@import './buttons.css';
@import './footer.css';
@import './admin.css';



.review-content p {
  @apply md:mb-4;
  font-size: 12px;
  line-height: 16px;
}

.review-title {
  font-size: 14px;
  line-height: 18px;
}

.review-date {
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .review-title {
    font-size: 16px;
    line-height: 21px;
  }

  .review-content p {
    font-size: 14px;
    line-height: 18px;
  }
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.pagination .page-numbers {
  @apply btn px-[10px];
  height: 40px;
  width: 40px;
}

.icon {
  display: var(--icon-display, block);
  width: var(--icon-width, 1.5rem);
  height: var(--icon-height, 1.5rem);
  max-width: var(--icon-max-width, 100%);
  margin: var(--icon-margin, 0);
  font-size: var(--icon-font-size, 1.5rem);
  color: var(--icon-color, inherit);
  fill: currentColor;
  flex-shrink: 0;
  pointer-events: none;
}

@media (min-width: 768px) {
  .archive-container {
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .archive-container {
    margin-bottom: 80px;
  }
}

.author-content {
  @apply bg-neutral-700 text-white px-8 py-10;
  width: 400px;
}


.author-content > div {
  margin-bottom: 50px;
}
.author-content > div:last-of-type {
  margin-bottom: 0;
}

.author-data {
  @apply flex flex-col items-center;
}

.author-socials {
  @apply flex flex-col items-center ;
  --icon-width: 40px;
  --icon-height: 40px;
}

.author-socials a {
  @apply mb-[14px];
}


.author-socials a:last-of-type {
  @apply mb-0;
}