:root {
  --box-shadow-first: 0px 3px 6px 0px #3339690F;
}

@layer base {
  html {
    @apply h-full;
  }
  
  body {
    @apply h-full font-fixel bg-neutral-100;
    line-height: 1.4;
  }

  
  #app {
    @apply h-full flex flex-col;
  }

  h1 {
    @apply text-h1 text-neutral-900;
  }

  h2 {
    @apply text-h2 text-neutral-900;
  }

  h3 {
    @apply text-h3 text-neutral-900;
  }

  h4 {
    @apply text-h4 text-neutral-900;
  }

  h5 {
    @apply text-h5 text-neutral-900;
  }

  h6 {
    @apply text-h6 text-neutral-900;
  }

  input:focus,
  input:focus-visible,
  textarea:focus,
  textarea:focus-visible,
  select:focus,
  select:focus-visible {
    @apply outline-none;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  input[type="radio"],
  input[type="checkbox"] {
    accent-color: #3C589E;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .icon {
    display: var(--icon-display, block);
    width: var(--icon-width, 1.5rem);
    height: var(--icon-height, 1.5rem);
    max-width: var(--icon-max-width, 100%);
    margin: var(--icon-margin, 0);
    font-size: var(--icon-font-size, 1.5rem);
    color: var(--icon-color, inherit);
    fill: currentColor;
    flex-shrink: 0;
    pointer-events: none;
  }

  .line-clamp-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
}

