:root {
  --box-shadow-first: 0px 3px 6px 0px #3339690F;
}

@layer base {
  html {
    @apply h-full;
  }
  
  body {
    @apply h-full font-fixel bg-neutral-100;
    line-height: 1.4;
  }

  
  #app {
    @apply h-full flex flex-col;
  }

  h1 {
    @apply text-h1 text-neutral-900;
  }

  h2 {
    @apply text-h2 text-neutral-900;
  }

  h3 {
    @apply text-h3 text-neutral-900;
  }

  h4 {
    @apply text-h4 text-neutral-900;
  }

  h5 {
    @apply text-h5 text-neutral-900;
  }

  h6 {
    @apply text-h6 text-neutral-900;
  }

  input:focus,
  input:focus-visible,
  textarea:focus,
  textarea:focus-visible,
  select:focus,
  select:focus-visible {
    @apply outline-none;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  input[type="radio"],
  input[type="checkbox"] {
    accent-color: #3C589E;
  }
}

@layer components {
  .icon {
    display: var(--icon-display, block);
    width: var(--icon-width, 1.5rem);
    height: var(--icon-height, 1.5rem);
    max-width: var(--icon-max-width, 100%);
    margin: var(--icon-margin, 0);
    font-size: var(--icon-font-size, 1.5rem);
    color: var(--icon-color, inherit);
    fill: currentColor;
    flex-shrink: 0;
    pointer-events: none;
  }

  .line-clamp-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }

  ul.standard-list {
    list-style: disc;
    padding-left: 24px;
  }

  .check-list li {
    position: relative;
    padding-left: 2.25rem;
    margin: 0 0 1rem;
    line-height: 1.2;
  }

  .check-list li:last-of-type {
    margin: 0;
  }

  .check-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0%200%2024%2024' fill='none'%3E%3Cpath d='M22.9961%205.78906L9.13477%2019.6504L8.25%2020.4961L7.36523%2019.6504L1.00391%2013.2891L2.78906%2011.5039L8.25%2016.9648L21.2109%204.00391L22.9961%205.78906Z' fill='%23ECB648'/%3E%3C/svg%3E");
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }
}

