@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  /* Загальний шрифт для редактора WordPress */
  .editor-styles-wrapper {
    @apply font-fixel;
  }

  /* Стилі заголовків для редактора WordPress */
  .wp-block-heading h1,
  .editor-styles-wrapper h1,
  .editor-styles-wrapper .wp-block-heading h1 {
    @apply text-h1 text-neutral-900;
  }

  .wp-block-heading h2,
  .editor-styles-wrapper h2,
  .editor-styles-wrapper .wp-block-heading h2 {
    @apply text-h2 text-neutral-900;
  }

  .wp-block-heading h3,
  .editor-styles-wrapper h3,
  .editor-styles-wrapper .wp-block-heading h3 {
    @apply text-h3 text-neutral-900;
  }

  .wp-block-heading h4,
  .editor-styles-wrapper h4,
  .editor-styles-wrapper .wp-block-heading h4 {
    @apply text-h4 text-neutral-900;
  }

  .wp-block-heading h5,
  .editor-styles-wrapper h5,
  .editor-styles-wrapper .wp-block-heading h5 {
    @apply text-h5 text-neutral-900;
  }

  .wp-block-heading h6,
  .editor-styles-wrapper h6,
  .editor-styles-wrapper .wp-block-heading h6 {
    @apply text-h6 text-neutral-900;
  }
}