@layer components {
  .filter-dropdown .icon {
    transition: transform 0.3s ease-in-out;
  }

  .filter-buttons .dropdown-menu {
    @apply absolute left-0 bg-white z-50 shadow-lg mt-1 min-w-[200px];
    top: 100%;
    max-height: 300px;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-8px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
    transform-origin: top;
  }

  .filter-buttons .dropdown-menu.dropdown-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
  }

  .filter-buttons .dropdown-item:hover,
  .filter-buttons .dropdown-menu a:hover {
    @apply bg-neutral-50;
  }
}

